<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Заполните форму</title>
</head>
<body>
<form th:method="POST" th:action="@{/addUser}" th:object="${user}">
  <div>
    <label for="firstName">Имя</label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <br>
    <label for="lastName">Фамилия</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br>
    <label for="email">Почта</label>
    <input type="text" th:field="*{email}" id="email">
    <br>
    <input type="submit" value="Добавить"/>
  </div>
</form>
</body>
</html>