<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение пользователя</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/changeUser/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="firstName">Имя:</label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <br/>

    <label for="lastName">Фамилия:</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br/>

    <label for="email">Почта:</label>
    <input type="text" th:field="*{email}" id="email">
    <br/>

    <input type="submit" value="Обновить пользователя"/>
</form>

</body>
</html>